.navbar {
  background-color: #CEB1BE;
  display: flex;
  position: sticky; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem; 
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: white; 
  display: flex;
  align-items: center;
}

.navlogo {
  height: 3rem;
  width: auto;
  margin-right: 0.5rem; 
}